services:

  keycloak-db:
    image: postgres:15
    container_name: keycloak_db
    restart: always
    environment:
      POSTGRES_DB: users
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    volumes:
      - keycloak_data:/var/lib/postgresql/data
    networks:
      - keycloak_net

  keycloak-web:
    image: quay.io/keycloak/keycloak:26.1
    container_name: keycloak_web
    restart: always
    environment:
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://keycloak-db:5432/users
      KC_DB_USERNAME: admin
      KC_DB_PASSWORD: admin
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_HOSTNAME_STRICT: false
      KC_HOSTNAME_STRICT_HTTPS: false
      KC_PROXY: edge
      KC_LOG_LEVEL: info
    command: start-dev --spi-theme-static-max-age=2592000 --spi-theme-cache-themes=false --spi-theme-cache-templates=false
    depends_on:
      - keycloak-db
    ports:
      - "8080:8080"
    networks:
      - keycloak_net

volumes:
  keycloak_data:
  keycloak_themes:

networks:
  keycloak_net:
    driver: bridge
