services:
  keycloak-db:
    image: postgres:15
    container_name: keycloak_db
    restart: always
    environment:
      POSTGRES_DB: users
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    volumes:
      - keycloak_data:/var/lib/postgresql/data
    networks:
      - app_net

  keycloak-web:
    image: quay.io/keycloak/keycloak:26.1
    container_name: keycloak_web
    restart: always
    environment:
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://keycloak-db:5432/users
      KC_DB_USERNAME: admin
      KC_DB_PASSWORD: admin
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_HOSTNAME_STRICT: false
      KC_HOSTNAME_STRICT_HTTPS: false
      KC_PROXY: edge
      KC_LOG_LEVEL: info
    command: start-dev --spi-theme-static-max-age=2592000 --spi-theme-cache-themes=false --spi-theme-cache-templates=false
    depends_on:
      - keycloak-db
    ports:
      - "8080:8080"
    volumes:
      - /wordle/keycloak-themes:/opt/keycloak/themes
    networks:
      - app_net

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    restart: always
    ports:
      - "9090:9090"
    networks:
      - app_net

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        # Remove or comment out REACT_APP_API_URL
        REACT_APP_KEYCLOAK_URL: http://localhost:8080
    container_name: frontend
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - backend
      - keycloak-web
    networks:
      - app_net

volumes:
  keycloak_data:

networks:
  app_net:
    driver: bridge
